<center>
  <div id="welcome_message">
    <div id="are_user">
    </div>
    <button id="continue" tabindex="0">Yes</button>
    <button id="back" tabindex="0"> <%= link_to "No", root_path(session: :clear) %> </button>
  </div>
</center>
