<center>
  <div id="welcome_message">
    <div id="are_user">
    </div>
    <button id="continue">Yes</button>
    <!-- <button id="back"> <%#= link_to "No", root_path(session: :clear) %> </button> -->
  </div>
</center>
