<div class="home_button">
  <%= link_to "Home", dashboard_path %>
</div>
<div class="home_button">
  <%= link_to "All Favorites", favorites_path %>
</div>
<div class="userFavorites">
  <% @favorites.each do |f| %>
    <div class="favorites" id="#{f.id}">
      <%= image_tag f.link %>
    </div>
  <% end %>
</div>
