<center>
<div class="grey" id="welcome_message">
  <div class="homeLogo">
    <%= imgur_logo.html_safe %>
  </div>
  
  <h1>Welcome to Favorites Folders</h1>


  <button id="loginButton">
    <%= link_to "Log in with Imgur", @imgur_url  %>
  </button>
</div>
</center>
