<center>
<div class="grey" id="welcome_message" tabindex="0">
  <div class="homeLogo" tabindex="0">
    <%= imgur_logo.html_safe %>
  </div>

  <h1>Welcome to Favorites Folders</h1>


  <button id="loginButton" tabindex="0">
    <%= link_to "Log in with Imgur", @imgur_url  %>
  </button>
</div>
</center>
