<div id="userFolders">
  <h1>Your Folders!</h1>
</div>
<center>
  <div class="home_button">
    <%= link_to "All Favorites", favorites_path %>
  </div>
  <hr>

<div class="newFolder">
  <%= link_to "Create New Folder!", new_folder_path %>
</div> <br><br>

<% @user.folders.each do |folder|  %>
  <div class="folder_links">
    <div id="folder#{folder.id}">
      <%= link_to folder.name, folder_path(folder)%>
    </div>
  </div>
<% end %>
</center>
